

.swiper {
    width: 100%;
    min-height: 100vh;
    position: relative; 
  }
  
  .swiper_img {
    min-height: calc(100vh - 60px);
    width: 100%;
  }
  
  .bg_img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgb(222, 221, 221) 100%);
    pointer-events: none;
    z-index: 1;
  }
  
  /* Grid wrapper */
  .grid_flex_box_widht {
    position: relative;
    z-index: 2;         
    margin-top: -390px; 
  }
  
  .grid_flex_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 94vw;
    margin: auto ;
    place-content:center ;
  }
  
  .grid_flex_item {
    height:auto;
    background-color: rgb(255, 255, 255);
    /* width: 100%; */

  }
  .grid_flex_item_main_title{
    padding: 8px;
  }

  .grid_flex_item_title{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
  }
  .grid_flex_item_title_text{
    cursor: pointer;
  }
  
  .grid_box_width_img{
    width: 100%;
    object-fit: cover;
    height: auto;
  }
  .grid_flex_p_main_title{
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .grid_flex_item_inner_title{
    font-size: 0.8rem;
  }
  .grid_flex_item_main_title_btn{
    padding: 8px;
    background-color: transparent;
    border: none;
    color: #2162a1;
    cursor: pointer;
  }
.mobile_view_img{
  display: none;
    width: 100%;
    height: 100%;
  }
@media (max-width: 900px) {
  

  .swiper_img {
    width: 100%;
    min-height: inherit;
    display: none;
}
.swiper {
    width: 100%;
    min-height: 100%;
    position: relative;
}
.grid_flex_box_widht {
    z-index: 2;
    margin-top: initial;
    position: relative;
}
.mobile_view_img{
  display: block;
}

.grid_flex_box {
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 94vw;
    margin: auto ;
    place-content:center ;
  }

  }
  
  
  .bg{
    width: 95%;
  overflow: hidden;
  padding: 5px;
margin: auto;
background-color: white;
position: relative;
border-radius: 4px;

}
.elctronics_title{
  position: absolute;
  font-size: 2.5rem;
  z-index: 1;
  top: 10px;
  left: 1rem;
}